/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


body {
		background: #fff url('../images/vexmanu.jpg') no-repeat fixed center;
		font: 15px/22px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #000;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		margin: 4em;
 }
 
 #transport {
 	width: 205px;
 	padding: 20px;
 	margin: auto;
 	background: rgba(255, 255, 255, 0.8);
 	border-radius: 25px;
 }
 .button {
 	cursor: pointer;
 }
 .button:hover {
 	background: rgba(23, 42, 236, 0.5);
 }
 
#progress {
 	width: 300px;
 	padding: 20px;
 	margin: auto;
 	background: rgba(255, 255, 255, 0.8);
 	border-radius: 25px;
 }

#cycles {
 	width: 90%;
 	padding: 20px;
 	margin: auto;
 	background: rgba(255, 255, 255, 0.8);
 	border-radius: 25px;
 }

#directions {
 	width: 90%;
 	padding: 20px;
 	margin: auto;
 	background: rgba(255, 255, 255, 0.8);
 	border-radius: 25px;
 }
